*{
    box-sizing: border-box;
}

body,html{
    margin:0;
    padding:0;
  }

.wrapper{
    display: flex;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}

.display{
    font-size: 24px;
}

#btn{
    /*top: 100px;*/
    top: 10%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
    width: 250px;
    font-size: 8vmin;
    color: black;
    background-color: aqua;
    border-radius: 8px;
}

#xBtn{
    top: 20%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
    width: 250px;
    font-size: 8vmin;
    color: black;
    background-color: aqua;
    border-radius: 8px;
}

.navControls{
    width: 100%;
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    top: 0;
    /*left: 0;
    right: 0;
    margin: 0 auto;*/
    width: 100%;
}

.dropdown{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.topics, .days, .months{
    /*position: relative;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*.topics{
    /*right: 550px;*/
    margin-left: 10%;
    margin-right: 50%;
    order: 1;
}*/

.topics{
    /*display: flex;*/
    order: 2;
    margin-left: 100%;
    margin-right: 50%
    /*display: flex;
    right: 50px;*/
}

.months{
    /*left: 450px;*/
    margin-left: 90%;
    margin-right: 10%;
    order: 3;
}

/*.topics ul, .months ul{
    position: absolute;
    background: white;
    margin-top: 10vh;
    width: 100px;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all .4s ease;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    z-index: 10;
}*/

.topics ul{
    flex-wrap: wrap;
    position: absolute;
    background: white;
    margin-top: 10vh;
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all .4s ease;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    z-index: 10;
}

 .days ul{
    flex-wrap: wrap;
    position: absolute;
    background: white;
    margin-top: 10vh;
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all .4s ease;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    z-index: 10;
}

/*.topics li, .months li{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.topics li{
    height: 100%;
}

.topics li:hover, .days li:hover, .months li:hover{
    background-color: #a8f0f7;
}

.topics a, .days a, .months a{
    color: black;
    text-decoration: none;
}

.dropdown button{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.topics button:focus + ul{
    opacity: 1;
    pointer-events: all;
}

.days button:focus + ul{
    opacity: 1;
    pointer-events: all;
}

.months button:focus + ul{
    opacity: 1;
    pointer-events: all;
}

.vitamin{
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 85vw;
    max-width: 600px;
    height: 35vmin;
    min-height: 200px;
    background-color: gray;
    border-radius: 40vmin/50vmin;
}

.front{
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.front-text{
    align-self: center;
    text-align: center;
    font-size: 8vmin;
    width: 100%;
    padding: 20px;
    color: white;
}
