/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .menu {
    display: none;
  }

  .title {
    display: none;
  }
  
  .header {
    padding: 0;
    margin: 0;
    /* background: rgba(4, 252, 210, 0.432); */
  }
  
  /* Add a black background color to the top navigation */
.topnav {
    
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(0, 255, 255, 0.5);
    color: white;
  }

  .footer {
    order: 4;
    display: none;
    margin-bottom: 20px;
    background: lightgreen;
  }
  
  .content {
    flex: 3 0px;
    order: 2;
    text-align: left;
    /* background: aqua; */
    background: deepskyblue;
    height: 100vh;
  }
  
  .nav {
    flex: 1 0 0;
    order: 1;
    background: deepskyblue;
    height: 100vh;
    min-width: 470px;
    background-image: url("assets/bottle2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sidebar {
    display: none;
    /* background: deepskyblue;
    height: 100vh;
    min-width: 470px;
    background-image: url("assets/bottle2.png");
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .bottle {
    text-align: center;
    font-size: 2.5rem;
    padding: 25px;
    margin-top: 200px;
    user-select: none;
  }
  
  /* .aside-2 {
    background: hotpink;
  } */
  
  /* @media all and (min-width: 800px) {
    .nav { flex: 1 0 0; }
  } */
  
  /* @media all and (min-width: 700px) {
    .main    { flex: 3 0px; }
    .nav-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  } */
  

  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .dropbtn {
      left: 0;
      right: 0;
      margin: auto;
    text-align: center;
    width: 80%;
    background-color: rgb(223, 109, 252);
    color: white;
    margin-top: 10px;
    /* margin-bottom: 16px; */
    padding: 8px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 4px 2px 12px black;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(204, 0, 255);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      text-align: center;
    /* position: relative;
    display: inline-block; */
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    margin-left: 48%;
    display: none;
    position: absolute;
    background-color: rgb(223, 109, 252);
    font-size: 1.25rem;
    width: 35%;
    max-width: 50%;
    height: 90%;
    /* width: auto; */
    /* min-width: 100px; */
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: rgb(204, 0, 255);
  }
  
  .show::-webkit-scrollbar {/*custom scroll bar */
    width: 1.25rem;
  }

  .show::-webkit-scrollbar-track {
    border-radius: 6px; 
    box-shadow: inset 0 0 6px gray;
  }

  .show::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(204, 0, 255);
    /*outline: 1px solid slategray;*/ 
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:block;
      overflow-y: scroll;
      box-shadow: 4px 2px 12px black;
  }
    
  .vitamin {
    margin-top: 10px;
    width: 100%;
    /* max-width: 400px; */
    text-align: center;
    /* border: 2px solid rgb(247, 81, 4);
    border-radius: 2px; */
  }

  .dayControls {
    
    width: 100%;
    max-width: 400px;
    user-select: none;
  }

  .day {
      position: absolute;
    display: inline-block;
    left: 52%;
    right: 0;
    top: 152px;
    margin: auto;
    /* margin-top: 5px; */
    margin-left: .08%;
    margin-right: .5%;
    /* margin-bottom: 20px; */
    width: 70%;
    max-width: 400px;
    text-align: center;
    font-size: 2rem;
    color: white;
    /* padding: .25rem; */
    padding-top: .25rem;
    padding-bottom: .5rem;
    background-color: rgb(138, 111, 138);
    border-radius: 4px;
    user-select: none;
  }

  .left-arrow {
    position: absolute;
    display: inline-block;
    left: 47.5%;
    top: 152px;
    display: inline-block;
    border-color: transparent rgb(138, 111, 138);
    border-style: solid;
    border-width: 25px 25px 25px 0px;
    
    height: 2px;
    width: 2px;
    cursor: pointer;
  }

  .left-arrow:hover {
    position: absolute;
    display: inline-block;
    left: 47.3%;
    top: 152px;
    display: inline-block;
    border-color: transparent rgb(143, 132, 143);
    border-style: solid;
    border-width: 25px 25px 25px 0px;
    height: 4px;
    width: 4px;

  }

  .right-arrow {
    /* position: absolute; */
    display: inline-block;
    /* left: 78.8%;*/
    /* top: 140px; */
    display: inline-block;
    margin-top: 30px;
    margin-left: 460px;
    border-color: transparent rgb(138, 111, 138);
    border-style: solid;
    border-width: 25px 0px 25px 25px;
    height: 2px;
    width: 2px;
    cursor: pointer;
  }

  .right-arrow:hover {
    /* position: absolute; */
    display: inline-block;
    /* right: 5.3%;
    top: 152px; */
    margin-left: 466px;
    margin-bottom: -2px;
    display: inline-block;
    border-color: transparent rgb(143, 132, 143);
    border-style: solid;
    border-width: 25px 0px 25px 25px;
    height: 4px;
    width: 4px;
  }
  
  .front {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    max-width: 575px;
  }

  .front-content {
    /* left: 0;
    right: 0;
    margin: auto; */
    text-align: center;
    width: 100%;
    height: 225px;
    /* max-height: 250px; */
    /* min-height: 135px; */
    /* padding: 5px; */
    margin-top: 10px;
    /* margin-bottom: 20vh; */
    font-size: 3rem;
    color: rgb(0, 0, 0);
    user-select: none;
    border-radius: 20%/50%;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
    background: white;
  }

  .scripture {
    display: none;
  }

  .showScripture{
    position: relative;
    display: block;
    font-size: 1.05rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 50px;
    width: 80%;
    height: 120px;
    /* min-height: 135px; */
    margin-top: 2px;
    /* margin-bottom: 20vh; */
    color: rgb(0, 0, 0);
    background-color: white;
    user-select: none;
    border-radius: 50vw/50vw;
    white-space: pre-wrap; /*this will create a new line after the verse */
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
    z-index: 100;
  }

  .view {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .instructions {
    display: none;
    position: absolute;
    left: 50%;
    top: 250px;
    margin: auto;

  }

  .instructions h2 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    text-indent: 170px;
    line-height: .25;
    color: red;
  }

  .instructions p {
    font-size: 1.15rem;
    font-weight: bold;
    text-align: left;
    text-indent: 100px;
    line-height: .25;
    color: red;
  }

  .letter-button {
    display: none;
    height: 110px;
    width: 75px;
    background: black;
    position: absolute;
    left: 480px;
    right: 0;
    margin: auto;
    bottom: 100px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
  }

  .page {
    height: 90px;
    width: 65px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    padding-top: 9px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 2px;
  }

  .glass {
    display: none;
  }
  /* .sidebar {
    display: none;
  } */
}

/* ###########################################################################################################################################
 ########################################################################################################################################### */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ###########################################################################################################################################
 ########################################################################################################################################### */
/* @media only screen and (min-width: 1200px) {
  
    
} */
