body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: aquamarine;
    height: 100vh;
}

#verse-content {
    position: relative;
    width: 90vw;
    height: 75vh;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2vw;
}

.back-button {
    display: block;
    /* position: absolute; */
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 6vh;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    background-color: rgba(255, 0, 0, 0.719);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
}

.back-button:hover {
    background-color: red;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
}

.back-button:active {
    background-color: black;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2);
}
